body {
    background-image: url("../images/IMG_3674.JPG");
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 100px;
}

div.scene {
    position: relative;
}

img.penguin {
    position: absolute;
    margin-left: 30px;
}
 